/* UI.css */
.maps-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .map-container {
    flex: 1;
    display: flex;
  }
  /* Add any UI-specific styles below as needed */
  
  